<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Xin chào <b><%= @pre_order.client_name %></b>,</p>
    <p>
      Chúng tôi đã nhận được đơn đặt hàng trước máy PS4 của bạn. Ngay khi có máy, chúng tôi sẽ liên hệ để giao máy cho bạn.
    </p>
    <p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi,</p>
    <p>Ban quản trị HTE</p>
    <p>-------------------------------</p>
    <p>CTY TNHH THƯƠNG MẠI DỊCH VỤ HTE</p>
    <p>Địa chỉ: Tầng Trệt Toà Nhà Tân Đại Nam, 98 Thích Quảng Đức, P.5, Q.Phú Nhuận, TP.HCM</p>
    <p>Email: info@hte.vn</p>
    <p>Điện thoại: (08) 6292 1939</p>
    <p>Hotline: 0907 344 556</p>
  </body>
</html>