<% content_for :title do %>Câu Hỏi Thường Gặp<% end %>
<h1>Câu Hỏi Thường Gặp</h1>
<dl class="faq">
  <dt><i class="fa fa-question-circle"></i> <strong>Tôi không có hộ khẩu thì có thể được thuê máy không?</strong></dt>
  <dd>Bạn bắt buộc phải có hộ khẩu thường trú tại TP.HCM cùng với CMND <b>hoặc</b> Passport (hộ chiếu) thì mới đủ điều kiện thuê máy. Bạn chỉ cần photo các loại giấy tờ này để làm hợp đồng thuê máy.</dd>
  <dt><i class="fa fa-question-circle"></i> <strong>Tôi muốn chơi game bản quyền không có trong danh sách game của HTE thì có phải trả thêm phí không?</strong></dt>
  <dd>Nếu bạn thuê máy từ <b>2 tuần</b> trở lên sẽ được miễn phí yêu cầu thêm 1 <%= link_to 'game tự chọn từ PSN', "https://store.sonyentertainmentnetwork.com/#!/en-us/all-ps3-games/cid=STORE-MSF77008-PS3ALLPS3GAMES", target: '_blank', class: 'underline' %> và được
  miễn phí giao nhận.
  Các game được nhiều khách hàng yêu cầu sẽ được chúng tôi cập nhật vào danh sách game trong thời gian sớm nhất.
  <br/><i>HTE sẽ không giải quyết các yêu cầu game ngoài danh sách nếu các bạn chỉ thuê 1 tuần.</i>
  </dd>
  <dt><i class="fa fa-question-circle"></i> Tôi muốn nhận máy tại cửa hàng HTE có được không?</dt>
  <dd>Ngoài việc giao nhận máy và làm hợp đồng tại nhà bạn, chúng tôi còn phải xác minh nơi ở của bạn có khớp với giấy tờ hay không nên bắt buộc chúng tôi phải giao máy tại nhà bạn.</dd>
  <dt><i class="fa fa-question-circle"></i> Khi đang chơi máy bị hư hỏng tôi phải giải quyết như thế nào?</dt>
  <dd>Khi máy gặp trục trặc, bạn phải thông báo ngay cho chúng tôi theo số điện thoại <b>(08) 6292 1939</b> hoặc <b>0907 344 556</b> để nhân viên kỹ thuật đến kiểm tra.
  Khi thanh lý hợp đồng, nếu máy bị trục trặc bạn phải bồi thường toàn bộ tiền sữa chữa nếu không thông báo trước.
  <dt><i class="fa fa-question-circle"></i> Khoảng bao lâu thì HTE mới cập nhật game mới?</dt>
  <dd>Mỗi tháng chúng tôi sẽ cập nhật một số game hay và mới trên PSN (1-5 game) hoặc game được nhiều khách hàng yêu cầu.</dd>
  <dt><i class="fa fa-question-circle"></i> Tôi muốn gia hạn thêm thời gian thuê có được không?</dt>
  <dd>Nếu hết hạn hợp đồng thuê mà bạn muốn tiếp tục thuê thêm thì thông báo cho chúng tôi theo số điện thoại <b>(08) 6292 1939</b> hoặc <b>0907 344 556</b>. Phí thuê sẽ được tính như sau:
  <br/>
  - Thời gian thuê thêm ít hơn 7 ngày: Phí thuê = 50.000 đồng * số ngày thuê thêm
  <br/>
  - Thời gian thuê thêm từ 7 ngày trở lên: Phí thuê = 40.000 đồng * số ngày thuê thêm
  </dd>
  <dt><i class="fa fa-question-circle"></i> Tôi muốn trả máy trước thời hạn thuê có được hoàn trả lại tiền số ngày chưa chơi hay không?</dt>
  <dd>Bạn phải tuân theo thời hạn hợp đồng thuê. HTE sẽ không hoàn trả lại phí nếu bạn trả máy trước thời hạn thuê.</dd>
  <dt><i class="fa fa-question-circle"></i> Trong thời gian thuê, tôi muốn đổi game khác chơi (đổi máy có game khác) có được hay không?</dt>
  <dd>- Tùy vào thời điểm bạn yêu cầu đổi máy, nếu máy bạn muốn chơi đã có khách hàng khác đang thuê HTE sẽ không giải quyết.<br/>
  - Nếu máy chưa có ai thuê, chúng tôi sẽ đến đổi máy cho bạn. Phí phụ thu bằng với phí giao nhận. Bạn chỉ được đổi máy 1 lần trong thời gian thuê.
  <br/> Ví dụ: phí giao nhận cho Quận 1 là 40.000 đồng, phí phụ thu sẽ là 40.000 đồng.
K  </dd>
</dl>