<p>Hệ thống đã nhận được đơn đặt hàng trước máy PS4 của bạn. Ngay khi có máy, chúng tôi sẽ liên hệ để giao máy cho bạn.</p>

<p>Cảm ơn bạn đã sử dụng dịch vụ của HTE!</p>
<p>------------</p>
<p>Ban quản trị</p>