<h1 class="text-center" id="service">DỊCH VỤ CHO THUÊ MÁY PS3, PS4</h1>
<div class="row">
  <div class="col-xs-4">
    <ul class="ad-callout">
      <li>Thủ tục đơn giản, không cần đặt cọc</li>
      <li>List game bản quyền phong phú</li>
      <li>Luôn cập nhật các game mới nhất</li>
      <li>Chơi game "Pro" hơn với phụ kiện game</li>
      <li>Giao nhận máy ngay tại nhà bạn</li>
    </ul>
  </div>
  <div class="col-xs-8">
    <div id="slider_container" style="position: relative; top: 0px; left: 0px; width: 748px; height: 580px; ">
      <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 748px; height: 580px; overflow: hidden;">
        <div><%= image_tag 'ps3_banner.png' %></div>
        <div><%= image_tag 'ps4_banner.png' %></div>
      </div>
      <!-- Arrow Left -->
      <span u="arrowleft" class="jssora03l" style="width: 55px; height: 55px; top: 123px; left: 8px;"></span>
      <!-- Arrow Right -->
      <span u="arrowright" class="jssora03r" style="width: 55px; height: 55px; top: 123px; right: 8px"></span>
    </div>
  </div>
</div>