<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hệ thống vừa mới nhận được đơn hàng mới <b><%= @order.number %></b>. <%= link_to 'Nhấn vào đây', order_url(@order.number) %> để xem chi tiết.</p>
    <p>Ban quản trị HTE</p>
    <p>-------------------------------</p>
    <p>CTY TNHH THƯƠNG MẠI DỊCH VỤ HTE</p>
    <p>Địa chỉ: Tầng Trệt Toà Nhà Tân Đại Nam, 98 Thích Quảng Đức, P.5, Q.Phú Nhuận, TP.HCM</p>
    <p>Email: info@hte.vn</p>
    <p>Điện thoại: (08) 6292 1939</p>
  </body>
</html>