<% content_for :title do %>Blog - <%= @category.name %><% end %>
<div class="row">
  <div class="col-xs-8">
    <% if @category.articles.order('created_at DESC').any? %>
      <% @category.articles.order('created_at DESC').each do |article| %>
        <%#= render 'article', article: article %>
        <p><%= link_to article.title, blog_article_path(article.created_at.year, article.created_at.month, article.slug) %></p>
      <% end %>
    <% else %>
      <div class="alert alert-warning">Chuyên mục này chưa có bài viết nào.</div>
    <% end %>
  </div>
  <%= render 'nav' %>
</div>