<p class="text-center">CTY TNHH THƯƠNG MẠI DỊCH VỤ HTE</p>
<p class="text-center">Địa chỉ: Tầng Trệt Toà Nhà Tân Đại Nam, 98 Thích Quảng Đức, P.5, Q.Phú Nhuận, TP.HCM</p>
<p class="text-center">Email: info@hte.vn</p>
<p class="text-center">Điện thoại: (08) 6292 1939</p>
<p class="text-center red">Hotline: 0907 344 556</p>