<div class="col-xs-4" style="text-align: center;">
  <h3>LIKE để ủng hộ HTE các bạn nhé!</h3>
  <div class="fb-like-box" data-href="https://www.facebook.com/pages/HTE-Gi%E1%BA%A3i-Tr%C3%AD-T%E1%BA%A1i-Nh%C3%A0/686063421417528" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>

  <h3>Tư vấn - Hỗ trợ trực tuyến</h3>
  <a href="ymsgr:sendIM?hte_ho_tro"><img src="http://opi.yahoo.com/online?u=hte_ho_tro&amp;m=g&amp;t=14&amp;l=us"/></a>
  <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
  <div id="SkypeButton_Call_hoangnghiem1711_1">
    <script type="text/javascript">
      Skype.ui({
        "name": "chat",
        "element": "SkypeButton_Call_hoangnghiem1711_1",
        "participants": ["hoangnghiem1711"],
        "imageSize": 32
      });
    </script>
  </div>
</div>