<div class="col-xs-4" style="text-align: center;">
  <h3>LIKE để ủng hộ HTE các bạn nhé!</h3>
  <div class="fb-like-box" data-href="https://www.facebook.com/pages/HTE-D%E1%BB%8Bch-v%E1%BB%A5-cho-thu%C3%AA-m%C3%A1y-PS3/686063421417528" data-width="350" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>

  <h3>Tư vấn - Hỗ trợ trực tuyến</h3>
  <a href="ymsgr:sendIM?hte_ho_tro"><img src="http://opi.yahoo.com/online?u=hte_ho_tro&amp;m=g&amp;t=14&amp;l=us"/></a>
</div>